.cms-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Верхний белый блок */
.cms-header {
  background: #ffffff;
  padding: 14px 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 2px 2px 0 0;
  user-select: none;
}

/* Стрелка */
.cms-arrow {
  font-size: 18px;
  line-height: 1;
}

/* Текст CMS */
.cms-title {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

/* Серый раскрывающийся блок */
.cms-content {
  background: #dcdcdc; 
  height: 100px;     
  border-radius: 0 0 2px 2px;
}
